<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alkatra">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Pomodoro</title>
    <script src="{{ url_for('static', filename='hacktimer.js') }}"></script>
</head>
<body class="full">
    
    <div class="containerMain">
        <div class="session">
            <p><span id="sessionNumber">Session: 1</span></p>
        </div>
        
        <div >
            <p class="countdown"><span id="remainingMinute">50</span> : <span id="remainingSecond">00</span></p>
        </div>
        <div class="mainButtons">
            <button type="button" class="startButton"><span id="switchButton">Start</span></button>
            <button id="todoButton"><i class="fa-solid fa-list-check"></i></button>
            <button id="buttonModal" ><i class="fa-solid fa-gear"></i></button>
        </div>
    </div>
    
    

    <!-- <div class="percentage" id="percentage"> </div> -->
    <canvas id="percentage"></canvas>

    <div>
        <!-- The Modal -->
        <div id="myModal" class="myModal">
            <!-- Modal Content -->
            <div class="modalContent">
                <span id="closeModal" class="closeModal">&times;</span>

                <div>
                    <row class="sessionDuration">
                        <!-- <p>Session Duration: </p> -->
                        <label class="coll-3 inputDescription">Session Duration: </label>
                        <input type="text" class="sessionInput" id="NewSessionDuration" placeholder="50" autocomplete="off">
                    </row>
                    <row class="breakDuration">
                        <!-- <p>Break Duration: </p> -->
                        <label class="coll-3 inputDescription">Break Duration: </label>
                        <input type="text" class="breakInput" id="NewBreakDuration" placeholder="10" autocomplete="off">
                    </row>
                </div>

                <div class="restartANDsaveBUTTON">
                    <button id="restartButton">Restart</button>
                    <button id="saveChangesButton" >Save Changes</button>
                </div>

            </div>
        </div>
    </div>

    <div> <!-- the modal for todo list -->
        <div id="todoModal">
            <!-- Modal content -->
            <div id="todoContent">
                <table>
                    <tr>
                        <th>Task</th>
                        <th>Added</th>
                        <th>Actions</th>
                    </tr>
            
                    {% for task in tasks %}
                        <tr>
                            <td> {{task.content}} </td>
                            <td> {{task.date_created.date()}} </td>
                            <td>
                                <a href="/delete/{{task.id}}">Delete</a>
                                <br>
                                <a href="/update/{{task.id}}">Update</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            
                <form action="/" method="POST">
                    <input type="text" name="content" id="content">
                    <input type="submit" value="Add Task">
                </form>
            </div>
        </div>
    </div>

    
    

    <button id="fullScreenButton"><i class="fa-solid fa-expand" style="color: #ffffff;"></i></button>
    
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='tasks.js') }}"></script>
    <script src="https://kit.fontawesome.com/db2202aa1d.js" crossorigin="anonymous"></script>
</body>
</html>